.back-pic {
    /*background-image: url('pic/Cosmos01.jpg');*/
    background-color: orange;
    /*fake temporary*/
    background-size: cover;
    height: 100%;
}

.back-pic1 {
    /*background-image: url('pic/Cosmos01.jpg');*/
    background-color: blue;
    /*fake temporary*/
    background-size: cover;
    height: 100%;
}

.back-pic2 {
    /*background-image: url('pic/Cosmos01.jpg');*/
    background-color: red;
    /*fake temporary*/
    background-size: cover;
    height: 200%;
}

.back-pic3 {
    /*background-image: url('pic/Cosmos01.jpg');*/
    background-color: yellow;
    /*fake temporary*/
    background-size: cover;
    height: 100%;
}

.back-pic4 {
    /*background-image: url('pic/Cosmos01.jpg');*/
    background-color: purple;
    /*fake temporary*/
    background-size: cover;
    height: 100%;
}

html,
body {
    height: 100%;
}

.navb {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navs {
    list-style-type: none;
    text-align: right;
    margin-bottom: 0;
}

.nav-item {
    font-size: 20px;
    padding: 20px;
    text-align: center;
    display: inline-block;
}

.navs a {
    color: #000;
}


.navs a:hover li{
    background-color: #eee;
    transition: 1s;
}
.navs a:hover{
    text-decoration: none;
}

.submit-item {
    font-size: 20px;
    padding: 100px 20px;
    text-align: center;
}

.s1-input{
    padding: 0;
    padding-right: 5px;
}

.result-black {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.result {
    top: 300px;
}

.web-title {
    font-size: 160px;
    font-weight: bolder;
    text-shadow: 5px 10px lightgray;
    margin-top: 0%;
}

.web-description {
    font-size: 20px;
    margin-bottom: 20px;
}

.page-info {
    padding:
}

.session1 {
    margin: 150px;
}
.s1-input{
    padding: 0;
}
.s1-input input[type=password]{
    width: 95%;
    padding: 0;
    border: 0;
    height: 40px;
    margin-right: 5%;
}
.s1-input input[type=submit].btn-pass {
    width: 100%;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
}
